In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import nltk
import spacy

In [11]:
df = pd.read_csv('/content/data_science_job.csv')  # Replace with your actual filename
df.head()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2022,Machine Learning Engineer in office,Analysis,EUR,186597,136086,US,MI,CT,Remote,DE,L
1,2020,Statistician (Remote),ML/AI,JPY,110630,67982,JP,EX,FL,Remote,IN,M
2,2022,Machine Learning Engineer,ML/AI,INR,61280,153309,UK,MI,CT,Hybrid,CN,L
3,2022,Data Analyst in office,ML/AI,JPY,154130,135242,DE,SE,FT,Hybrid,MX,L
4,2020,Statistician,Data Science,EUR,172312,35156,UK,MI,FT,In-person,UK,S

In [12]:
# Number of rows and columns
print(f"Dataset shape: {df.shape}")

# Column names
print("\nColumn Names:")
print(df.columns)

# Data types
print("\nData Types:")
print(df.dtypes)

# Null values
print("\nMissing Values:")
print(df.isnull().sum())

# Quick statistical overview
df.describe(include='all')

Dataset shape: (5000, 12)

Column Names:
Index(['work_year', 'job_title', 'job_category', 'salary_currency', 'salary',
       'salary_in_usd', 'employee_residence', 'experience_level',
       'employment_type', 'work_setting', 'company_location', 'company_size'],
      dtype='object')

Data Types:
work_year              int64
job_title             object
job_category          object
salary_currency       object
salary                 int64
salary_in_usd          int64
employee_residence    object
experience_level      object
employment_type       object
work_setting          object
company_location      object
company_size          object
dtype: object

Missing Values:
work_year               0
job_title               0
job_category          500
salary_currency       500
salary                  0
salary_in_usd           0
employee_residence      0
experience_level      500
employment_type         0
work_setting            0
company_location        0
company_size          500
dtype: int64

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
count,5000.00000,5000,4500,4500,5000.000000,5000.000000,5000,4500,5000,5000,5000,4500
unique,NaN,15,4,5,NaN,NaN,7,4,4,3,7,3
top,NaN,Data Engineer in office,Data Science,EUR,NaN,NaN,JP,SE,PT,Hybrid,UK,S
freq,NaN,372,1173,962,NaN,NaN,783,1154,1268,1721,789,1519
mean,2020.97680,NaN,NaN,NaN,102046.307200,114076.995800,NaN,NaN,NaN,NaN,NaN,NaN
std,0.81951,NaN,NaN,NaN,70853.626492,49113.807687,NaN,NaN,NaN,NaN,NaN,NaN
min,2020.00000,NaN,NaN,NaN,-198754.000000,30016.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,2020.00000,NaN,NaN,NaN,64295.500000,71343.750000,NaN,NaN,NaN,NaN,NaN,NaN
50%,2021.00000,NaN,NaN,NaN,110636.000000,114167.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,2022.00000,NaN,NaN,NaN,153104.750000,156665.750000,NaN,NaN,NaN,NaN,NaN,NaN
max,2022.00000,NaN,NaN,NaN,199924.000000,199985.000000,NaN,NaN,NaN,NaN,NaN,NaN

## 📝 Day 1: Project Setup

### 📊 Dataset Overview:

- **Total Rows:** 5,000  
- **Total Columns:** 12  
- **Main Columns Available:**  
  - `job_title` – Name of the role  
  - `job_category` – Category/department of the job  
  - `salary`, `salary_in_usd` – Salary in original and USD format  
  - `employee_residence`, `company_location` – Geographic info  
  - `experience_level`, `employment_type`, `work_setting` – Role specifications  
  - `company_size` – Size of the hiring company  
- **Missing Data:**  
  - Columns like `job_category`, `salary_currency`, `experience_level`, and `company_size` have 500 missing entries each.  
- **Data Types:**  
  - Most columns are categorical (text), except for `work_year`, `salary`, and `salary_in_usd` which are numeric.  
- **Interesting Insight:**  
  - Some salary values are negative, which indicates possible data entry errors to fix during cleaning.

### 🧾 Notes:
- This dataset contains detailed job posting records useful for analyzing hiring trends, required skills, and salary distribution across locations and roles.
- From tomorrow, the data will be cleaned and made ready for deeper analysis like skill extraction and trend visualization.